﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyImdb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body style="background-color:#edece1;">
    <header>
        <div class="bg-dark">
            <div class="ml p-2">
                <div class="d-flex flex-row  align-items-center">
                    <a asp-area="" asp-controller="Home" asp-action="Index" style="margin-left:2vw; margin-left:13%;">
                        <img src="/assets/images/IMDB_Logo_2016.svg" alt="" style="width:150px; height:40px;" />
                    </a>
                    <div class="d-flex flex-column">
                        <div class="input-group">
                            <div class="form-inline">
                                <input type="search" id="form1" class="form-control" placeholder="Search"/>
                             
                            </div>
                            <button type="button" class="btn btn-md btn-light rounded-right">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div class="d-flex flex-row justify-content-start mt-2">
                            <a asp-area="" asp-controller="Movie" asp-action="Index" class="text-white">Movies</a>
                            <a asp-area="" asp-controller="Movie" asp-action="MovieOfTheMonth" class="ml-3 text-white">Genres</a>
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="ml-3 text-white">Actors</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="p-0 bg-white w-75 d-flex flex-column justify-content-end" style="margin-left:16%;">
        <div>
            <main role="main" class="p-3">
                @RenderBody()
            </main>
            <div class="bg-light d-flex justify-content-end align-items-center pr-2 border-top border-secondary" style="min-height:6em">
                <span>&copy; 2021 - MyIMDB All rights reserved</span>
            </div>
        </div>
        
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
