﻿@model MyImdb.ViewModels.MovieCreateViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}


<h2>Add movie</h2>
<hr />
<h5>Please fill the movie data to add a new movie:</h5>

<form asp-controller="Movie" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="Title" class="col-sm-2 col-form-label font-weight-bold"></label>
        <div class="col-sm-6">
            <input asp-for="Title" class="form-control" />
        </div>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Rank" class="col-sm-2 col-form-label font-weight-bold"></label>
        <div class="col-sm-3">
            <input asp-for="Rank" class="form-control" />
        </div>
        <span asp-validation-for="Rank" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Year" class="col-sm-2 col-form-label font-weight-bold"></label>
        <div class="col-sm-3">
            <input asp-for="Year" class="form-control" />
        </div>
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Storyline" class="col-sm-2 col-form-label font-weight-bold"></label>
        <div class="col-sm-6">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="Storyline"></textarea>
        </div>
        <span asp-validation-for="Storyline" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label font-weight-bold"> </label>
        <div class="col-sm-2">
            <button type="submit" value="Save" class="btn btn-warning text-white font-weight-bold">
                <i class="fa fa-check" aria-hidden="true"></i> &nbsp; Save
            </button>
        </div>
    </div>
</form>

<div>
    <a asp-controller="Movie" asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Movies</a>
</div>

