﻿
@using MyImdb.ViewModels;
@model List<MovieListViewModel>
@{
    ViewData["Title"] = "Movies";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @if (ViewData.ContainsKey("msg"))
    {
        <div class="alert alert-info">
            <p>@ViewData["msg"]</p>
        </div>
    }
    <div class="h3">Movies</div>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Rank</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Rank</td>
                    <td>@movie.Year</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-area="" asp-controller="Movie" asp-action="Create" class="btn btn-light btn-md border-1 border-secondary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add movie
    </a>
    <p class="mt-3">
        Click <a asp-area="" asp-controller="Movie" asp-action="MovieOfTheMonth">here</a> to check out the movie of the month.
    </p>

</body>
</html>
