﻿
@{
    ViewData["Title"] = "MovieOfTheMonth";
    Layout = "_Layout";
    var movieOfTheMonth = new {
        Rank = 1,
        Title = "The Shawshank Redemption",
        Year = 1994,
        StoryLine = "Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency"
    };
}

<h2>Movie of the Month</h2>

<div class="container ml-0 mb-3">
    <div class="row w-75 p-2 bg-light d-flex justify-content-start">
        <div class="col-sm-4 pr-0 d-flex justify-content-sm-center align-items-center" style="background-color: gray;">
            <i class="fa fa-video-camera fa-5x"></i>
        </div>
        <div class="col-sm-8">
            <div class="d-flex flex-column justify-content-start align-items-start">
                <p class="h4">@movieOfTheMonth.Title</p>
                <div class="d-flex flex-row">
                    <p class="font-weight-bold">Rank:&nbsp;</p>
                    <p>@movieOfTheMonth.Rank</p>
                </div>
                <div class="d-flex flex-row">
                    <p class="font-weight-bold">Director:&nbsp;</p>
                    <p>John Doe</p>
                </div>
                <p class="text-justify">@movieOfTheMonth.StoryLine</p>
                <div class="d-flex flex-row justify-content-between">
                    <button class="btn btn-sm bg-white border-1 rounded-sm border-dark mr-1">Watch Trailer</button>
                    <button class="btn btn-sm bg-white border-1 rounded-sm border-dark">Add to Watchlist</button>
                </div>
            </div>
        </div>
    </div>
</div>
<a asp-area="" asp-controller="Movie" asp-action="Index" class="mt-xl-5 p-1 text-info font-weight-bold"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back to Movies</a>


