﻿@using MyImdb.ViewModels;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
    @model List<TopMovieListViewModel>
}

<div class="d-flex justify-content-between flex-wrap">
    <div class="d-flex flex-column justify-content-start" style="width:75%">
        <p class="h3 mb-2">Movies of the Month</p>
        <div class="d-flex flex-row justify-content-around flex-wrap">
            @foreach(var movie in Model)
            {
            <div class="d-flex flex-column mb-3">
                <div class="d-flex justify-content-center align-items-center" style="background-color: gray; width:250px; height:350px;">
                    <i class="fa fa-video-camera fa-5x"></i>
                </div>
                <p style="height:40px" class="d-flex justify-content-center align-items-center h6 bg-secondary font-weight-light text-white">@movie.Title</p>
            </div>
            }
        </div>
    </div>
    <div class="d-flex flex-column align-items-start p-2" style="margin-top: -15px; margin-right:-15px; background-color: #f5f5f5;">
        <div class="d-flex flex-column">
            <p class="h3 mt-4">Opening this Week</p>
            <ul>
                <li>Beauty and the Beast</li>
                <li>T2 Trainspotting</li>
                <li>Song to song</li>
                <li>The Belko Experiment</li>
                <li>Frants</li>
            </ul>
            <a class="h6" href="#">
                See more opening this week&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
        <hr size=7>
        <div class="d-flex flex-column">
            <p class="h3 mt-1">Coming Soon</p>
            <ul>
                <li>Power Rangers</li>
                <li>Life</li>
                <li>CHIPS</li>
                <li>Wilson</li>
                <li>Prevenge</li>
            </ul>
            <a class="h6" href="#">
                See more coming soon&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
<a asp-area="" asp-controller="Movie" asp-action="Index" class="ml-3">See the complete list&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>